extends layout

block content
	div.searchBar
		form(name="search", method="post")
			input(type="text",name="searchString")
			input(type="submit",value="Search")
	table
		each result, i in searchResults
			tr
				td=result.name